*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}



.stortlogo {
    width:75%;
    margin-left:15%;
    margin-top: 20%;
    position: absolute;
}

.mySlides {
    display:none;
    position: absolute;
    width: 100%;
   
}

/*********************************  BUGER MENU - tre strejer til kryds ********************/

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
    
.hamburger:hover {
    opacity: 0.7; 
}
    
.hamburger.is-active:hover {
    opacity: 0.7; 
}
    
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff; 
}
  
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 
}

.hamburger-box a {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}
    
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}
    
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}
    
.hamburger-inner::before {
    top: -10px; 
}
    
.hamburger-inner::after {
    bottom: -10px; 
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; 
}
    
.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}
    
.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; 
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); 
}
  

/************************************ Burger menu - drop down med tekst *************/
.nav-software {
    height: 60px;
    background-color: #000000;
}

.menu-software {
  float: right;
  margin-right: 171px;
}

.nav-software a {
    padding: 0 10px;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 10pt;
    line-height: 60px;
    color: #ffffff;
}
/************* FARVEN BAG LISTEN I CONTAINER (STYLEGUIDEN) **********/
.navbar-sg { /* BAGGRUNDEN PÅ SLIDEREN */
    height: 752px;
    width: 375px;;
    background-color: black;
    position: absolute;
    top: 3px;
    display: flex;
    right: -375px;
    justify-content: center;
    align-items: center;
    transition: right 0.8s cubic-bezier(0.5, 0, 0, 1);
  }
  
  .change {
    right: 0;
  }
  
  .burger-menu-sg { /* STREGERNE I BURGERMENUEN */
    z-index: 99999999999999;
    width: 35px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .line-sg {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.8s;
    border-radius: 1px;
  }
  
  .change .line-1-sg {
    transform: rotateZ(-45deg) translate(-8px, 6px);
  }
  
  .change .line-2-sg {
    opacity: 0;
  }
  
  .change .line-3-sg {
    transform: rotateZ(45deg) translate(-8px, -6px);
  }
  
  .nav-list-sg {
    list-style: none;
  }
  
  /********************** SELVE LISTEN (STYLEGUIDE) *********************/
  
  .nav-container-sg{
    height: 100%;
    overflow-x: scroll;
    z-index: 1000 !important;
    background-color: black;
  }
  
  /********************** LIST-ITEM (STYLEGUIDE) *********************/
  .nav-item-sg {
    width: 375px;
    margin-bottom: 10px;
    padding: 10px 0;
  }
  /********************** FØRSTE LIST-ITEM (STYLEGUIDE) *********************/
  .forside-sg {
    width: 375px;
    margin-top: 40px;
    padding: 20px 0;
  }
  /********************** LIST-ITEM (STYLEGUIDE) *********************/
  .nav-item-sg img{
    width: 30%;
    visibility: visible;
  }
  
  /********************** RESTEN AF LIST-ITEMS (STYLEGUIDE) *********************/
  .nav-link-sg {
    display: block;
    text-decoration: none;
    list-style: none;
    width: 375px;
    margin-left: 25px;
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
    font-weight: 300;
    border-bottom: 2px solid white;
    border: 5px;
    border-color: #000000;
  }