*{
    margin-top: 0px;
    margin-left: 0px;
}

.stortlogo {
    width:75%;
    margin-left:15%;
    margin-top: 20%;
    position: relative;
}

.mySlides {
    display:none;
    position: absolute;
    width: 100%;
}

/* Citater og images på forsiden */

.container__image {
  float: left;
  margin-left: 7%;
  margin-top: 18%;
  width: 40%;
}

.container__text {
  float: right;
  margin-right: 7%;
  margin-top: 18%;
  width: 40%;
}

.container__image1 {
  float: right;
  margin-right: 7%;
  margin-top: 18%;
  width: 40%;
}

.container__text1 {
  float: left;
  margin-left: 7%;
  margin-top: 7%;
  width: 40%;
}
